.input {
    margin-bottom: 5px;
    border-radius: 12px;
}

.button {
    background-color: transparent;
    font-size: 12px;
    border-radius: 12px;
    border: 2px solid #666;
    font-family: sans-serif;
}

.button:hover {
    border: 2px solid rgb(139, 139, 139);
    font-size: 12px;
    background-color: rgb(172, 172, 172);
}

.paragraph {
    margin-bottom: 20px;
}

.form {
    margin-bottom: 20px;
}

.content {
    text-align: center;
    flex: auto;
    font-size: 20px;
}

.blog {
    margin-bottom: 10px;
}

.virheviesti {
    border: 2px solid red;
    font-size: 20px;
    color: red;
    margin-bottom: 10px;
}

.lisaysViesti {
    border: 2px solid green;
    font-size: 20px;
    color: green;
    margin-bottom: 10px;
}