.input {
    margin-bottom: 5px;
    border-radius: 12px;
}

.button {
    background-color: transparent;
    font-size: 12px;
    border-radius: 12px;
    border: 2px solid #666;
    font-family: sans-serif;
    width: 70px;
    height: 50px;
    transition: width 0.7s ease-in-out;
}

.buttonIsompi {
    font-size: 60px;
    position: absolute;
    right: 30%;
    left: 30%;
    top: 40%;
    padding: 25px;
    background-color: transparent;
    border-radius: 12px;
    border: 2px solid #666;
    font-family: sans-serif;
}

.buttonIsompi:hover {
    border: 2px solid rgb(139, 139, 139);
    background-color: rgb(172, 172, 172);
    color: green;
}

.button:hover {
    border: 2px solid rgb(139, 139, 139);
    font-size: 18px;
    background-color: rgb(172, 172, 172);
    width: 130px;
}

.paragraph {
    margin-bottom: 20px;
}

.form {
    margin-bottom: 20px;
}

.content {
    text-align: center;
    font-size: 20px;
}

.blog {
    margin-bottom: 10px;
    border: 3px dotted green;
    border-radius: 12px;
    cursor: pointer;
    width: 500px;
    margin-left: 37.5%;
}

.virheViesti {
    border: 2px solid red;
    font-size: 20px;
    color: red;
    margin-bottom: 10px;
}

.lisaysViesti {
    border: 2px solid green;
    font-size: 20px;
    color: green;
    margin-bottom: 10px;
}